.downloadContainer {
  cursor: pointer;
  height: 2rem;
  width: 50vw;
  display: block;
  padding: 0 1rem;
  border-radius: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: 0.1rem solid white;
  margin: 0 auto;
  letter-spacing: 0.2rem;

  &:hover {
    color: black;
    background-color: white;
    transition: ease-in-out 0.4s;
  }
}
